# Virtual Environments
venv/
enve/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env

# VS Code
.vscode/

# Streamlit Secrets
.streamlit/secrets.toml

# Node Modules (Frontend)
node_modules/

# Build Files
dist/
build/

# OS Files
.DS_Store
Thumbs.db

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Logs
*.log
